@{
    ViewData["Title"] = "О нас";
}

</br>
<div class="container">
    <div class="container rs-page-inner">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInUp nekoAnim-visible" data-nekoanim="fadeInUp" data-nekodelay="50" style="animation-delay: 50ms;">Справочный сервис «SnailMS»</h1>
                <div class="description">Место, где начинаются счастливые истории!</div>
            </div>
            <div class="col-xs-12 clearfix about-main">
                <p>Наверняка каждый сталкивался с такой проблемой: друг или родственник сменил номер и не поделился этим со своими друзьями или шифруется от общества.</p>
                <p>Мы поможем вам в решении этой проблемы! Мы предоставляем вам удобный инструмент для поиска интересных вам лиц.</p>
				<p>Для его использования вам требуется быть абонентом сети и зарегистрироваться в нашем контакт-центре.</p>
                <p>Мы надеемся вы не будете использовать наш портал в противоправных целях.</p>
                <p>Организуем события любой сложности и сделаем все, чтобы оно запомнилось навсегда. К нам люди приезжают отдыхать и наслаждаться жизнью.</p>
                <p>В нашем ресторане грамотно продумана каждая деталь интерьера:</p>
                <ul>
                    <li>шикарные панорамные окна, открывающие потрясающий вид,</li>
                    <li>настоящий самобытный камин с живым эффектным пламенем,</li>
                    <li>уютные кресла и мягкие подушки, призывающие к отдыху и релаксу,</li>
                    <li>природные и натуральные материалы, создающие особую атмосферу.</li>
                </ul>
                <p>Каждая строчка меню – это домашние, но изысканные блюда с авторской изюминкой. А также восхитительные оригинальные напитки, созданные, чтобы радовать и приятно удивлять самых взыскательных гурманов. Весь наш квалифицированный, внимательный, улыбчивый и услужливый персонал старается ради одного – дать Вам отдохнуть.</p>
                <p>Приходите к нам, чтобы полениться, расслабиться, поговорить и посмеяться с близкими за вкусной едой и великолепными напитками. Вкусите от души удовольствие безделья. Мы всегда рады нашим гостям!</p>

            </div>

        </div>
    </div>
</div>

                <div class="rs-features index-page">
			<div class="container">
									<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center section-title nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInUp nekoAnim-visible" data-nekoanim="fadeInUp" data-nekodelay="100" style="animation-delay: 100ms;">
								<span class="section-title--text">Причины посетить наш ресторан</span>
							</h2>
						</div>
					</div>					
								<div class="row">
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon4.png" alt="feature_picture">
										</div>
										<h4>Авторская кухня с «фишками» </h4>					
										<div>Уникальное использование продуктов, фирменная подача и оригинальные соусы </div>
									</div>
								</div>	
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon5.png" alt="feature_picture">
										</div>
										<h4>Ароматные согревающие напитки</h4>					
										<div>Травяные и листовые чаи в ассортименте с комплиментом в виде медовых сот </div>
									</div>
								</div>	
															<div class="col-xs-12 col-sm-6 col-md-4 feature-block">
									<div class="feature-item nekoAnim-invisible nekoAnim-animated nekoAnim-fadeInDown nekoAnim-visible" data-nekoanim="fadeInDown" data-nekodelay="400" style="animation-delay: 400ms;">
										<div class="feature-item--icon">
											<img class="" src="https://vselen-vdnh.ru/wp-content/uploads/2021/04/icon6.png" alt="feature_picture">
										</div>
										<h4>Интерактивный индивидуальный подход </h4>					
										<div>Возможность выбора технологии приготовления – жар, пар, мангал или хоспер</div>
									</div>
								</div>	
								
								</div>	
			</div>
		</div>