@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <img src="/image/index1-.png" style="width:341px; height:341px; float:right; padding:10px; position:relative;" />

        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Удобный сервис с быстрым откликом</h1>
            <p class="col-md-8 fs-4">Работаем c 2023, 123 пользователей уже с нами</p>
            <button class="btn btn-primary btn-lg" type="button">Регистрация</button>
        </div>
    </div>

    <section class="pb-3">
		<div class="container">
			<div class="row">

				<!-- column 1 -->
				<div class="col-md-4">
					<!-- title -->
					<h2 class="h1">Давай знакомиться!</h2>
					<p>SnailMS - это отечественная социальная сеть, где ты можешь не волноваться за конфедициальность, так как мы сообество волонтеров, которым давно не хватало секретности в бытовом общении.</p>
					<!-- service item -->
					<div class="bg-light p-4 p-lg-5 ">
						<image src="/image/badge1.png" style="float:center; height:40%; width:40%;"/>
						<h5>Надежная защита</h5>
						<p class="mb-0">Криптостойкое шифрование информациии для достижения надежности передачи. А так же наши сервера находятся в разных странах, что озночает мы не подвласны закону.</p>
					</div>
				</div>

				<!-- column 2 -->
				<div class="col-md-4 mt-5">
					<!-- service item -->
					<div class="bg-light p-4 p-lg-5 mb-5">
						<image src="/image/badge2.png" style="float:center; height:40%; width:40%;" />
						<h5>Креативность</h5>
						<p class="mb-0">Ты можешь создать своё сообщество в котором можно делиться новостями или творчеством со своими подписчиками.</p>
					</div>
					<!-- service item -->
					<div class="bg-light p-4 p-lg-5 mb-5">
						<image src="/image/badge3.png" style="float:center; height:40%; width:40%;" />
						<h5>Монетизация</h5>
						<p class="mb-0">При достижении охвата аудитории ты можешь монетизировать свой контент по своему усмотрению.</p>
					</div>
				</div>

				<!-- column 3 -->
				<div class="col-md-4">
					<!-- service item -->
					<div class="bg-light p-4 p-lg-5 mb-5">
						<image src="/image/badge4.png" style="float:center; height:40%; width:40%;" />
						<h5>Общение</h5>
						<p class="mb-0">Приятный и эффективный интерфейс в котором могут разобраться твои родственики. Простое p2p общение. Ваши сообщения хранятся в зашифрованном виде, что означает мы не сможем прочитать ваши сообщенияю.<span>P.S. кроме админа</span></p>
					</div>
					<!-- service item -->
					<div class="bg-light p-4 p-lg-5 mb-5">
						<image src="/image/badge5.png" style="float:center; height:40%; width:40%;" />
						<h5>Открытый код</h5>
						<p class="mb-0">SnailMS - open-source проект. Мы открыты к предложениям для добавления новых фич.</p>
						<a href="https://github.com/albrtszn/SnailMS">Репозиторий</a>
					</div>
				</div>
			</div>
		</div>
	</section>
    </div>
