@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

@section Scripts{
<script>

    function popup_close(){
        $("#own_popup").fadeOut(1000);
    }

</script>
}

<style>
    #error-popup{
        position:fixed;
        left:60%;
        top: 60%;
        
        background:grey;
        backgrounf-color: rgba(0,0,0,0.5);
    }
    #popup-close{
        cursor:default;
        color:black;
        position:relative;
        float:right;
        font-size:28px;
        font-weight:bold;
    }
    .popup-close:hover{
        color: red;
        text-decoration:none;
        cursor:default;
    }

    .own-popup {
        position: absolute;
        left:70%;
        top: 70%;
        width: 300px;
        height: 150px;
        padding: 10px;
        background-color: indianred;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;

        text-align:center;
        font-size:large;
        font-style: sans-serif;
    }
</style>

<div class="container">
<main class="form-signin">
<form asp-action="Login" method="post">
    </br>
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>
    <hr class="my-4">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="form-floating">
        <input type="text" asp-for="Login" class="form-control" id="floatingInput" placeholder="+37529xxxyyzz">
        <label asp-for="Login" for="floatingInput">Номер телефона</label>
        <span class="badge bg-danger" asp-validation-for="Login"></span>
    </div>
    </br>

    <div class="form-floating">
        <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
        <label asp-for="Password" for="floatingPassword">Пароль</label>
        <span class="badge bg-danger" asp-validation-for="Password"></span>
    </div>
    </br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
</form>
</main>
</div>


@if (@TempData["error"] != null && !@TempData["error"].ToString().Equals(""))
{
    <div id="own_popup" class="own-popup" >
        <span class="popup-close" onclick="popup_close()">Закрыть</span>
        <h2>Ошибка</h2>
        <span>@TempData["error"]</span>
    </div>
}


