@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

@{
    ViewData["Title"] = "Аутентификация";
}

@section Scripts{
<script>

    function popup_close(){
        $("#own_popup").fadeOut(1000);
    }

</script>
}

<style>
        .own-popup {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            width: 300px;
            height: 150px;
            padding: 10px;
            background-color: gainsboro;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            text-align: center;
            font-size: large;
            font-style: sans-serif;
        }

        .popup-close {
            cursor: pointer;
            color: red;
            position: relative;
            float: right;
            font-size: 18px;
            font-weight: bold;
        }
</style>

<div class="container">
<main class="form-signin">
<form asp-action="Login" method="post">
    </br>
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>
    <hr class="my-4">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="form-floating">
        <input type="text" asp-for="Login" class="form-control" id="floatingInput" placeholder="+37529xxxyyzz">
        <label asp-for="Login" for="floatingInput">Номер телефона</label>
        <span class="badge bg-danger" asp-validation-for="Login"></span>
    </div>
    </br>

    <div class="form-floating">
        <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
        <label asp-for="Password" for="floatingPassword">Пароль</label>
        <span class="badge bg-danger" asp-validation-for="Password"></span>
    </div>
    </br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
</form>
</main>
</div>


@if (@TempData["error"] != null && !@TempData["error"].ToString().Equals(""))
{
    <div id="own_popup" class="own-popup" >
        <span class="popup-close" onclick="popup_close()">X</span>
        <h2>Ошибка</h2>
        <span>@TempData["error"]</span>
    </div>
}


