@{
    ViewData["Title"] = "Политика соглашения";
}

<div class="container">

    <h1 class="page__h1">Пользовательское соглашение SnailMS.by</h1>
    <div class="page__h1-sub">(публичная оферта)</div>

    <ul class="page__contents">
        <li>1. <a href="#p1">Основные термины</a></li>
        <li>2. <a href="#p2">Предмет пользовательского соглашения</a></li>
        <li>3. <a href="#p3">Права и обязанности Исполнителя</a></li>
        <li>4. <a href="#p4">Права и обязанности Пользователя</a></li>
        <li>5. <a href="#p5">Порядок оплаты Заказа и возврата средств</a></li>
        <li>6. <a href="#p6">Ответственность сторон</a></li>
        <li>7. <a href="#p7">Разрешение споров</a></li>
    </ul>

    <div class="page__block">

        <h2 class="page__title" id="p1">1. Основные термины</h2>

        <p>1.1. <b>Сайт</b> — ресурс в сети интернет siadanak.by с возможностью удобного выбора и заказа Продукции в режиме реального времени.</p>

        <p>1.2. <b>Исполнитель</b> — ООО «СнэилМС» (УНП 391821330), которые имеют право от имени Партнёра размещать на Сайте даннные абонентов сети в справочных целей зарегистрированным абонентам.</p>


        <p>1.3. <b>Партнёр</b> — юридическое лицо, зарегистрированное в соответствии с законодательством РБ, являющееся производителем и продавцом Продукции и размещающее свою Продукцию на Сайте Исполнителя.</p>

        <p>1.4. <b>Продукция</b> – продукция общественного питания Партнёра (кулинарная продукция, хлебобулочные, кондитерские изделия и напитки).</p>

        <p>1.5. <b>Пользователь</b> – физическое лицо, достигшее 18 лет, принявшее условия настоящей Оферты и оформившее Заказ на Сайте.</p>

        <p>1.6. <b>Заказ</b> — заказ Пользователя на покупку Продукции, оформленный соответсвующим образом посредством Сайта.</p>

        <p>1.7. <b>Оферта</b> — настоящее Пользовательское соглашение (публичный договор), которое регулирует отношения между Исполнителем и Пользователем.</p>


    </div>

    <div class="page__block">

        <h2 class="page__title" id="p2">2. Предмет пользовательского соглашения</h2>

        <p>2.1. Исполнитель предоставляет Пользователю возможность приобрести Продукцию Партнёра посредствам расширенных функций Сайта.</p>

        <p>2.2. Пользователь безоговорочно и безусловно соглашается с условиями настоящей Оферты при оформлении Заказа.</p>

        <p>2.3. Исполнитель принимает Заказы Пользователя и передаёт их Партнёру, который является производителем и продавцом Продукции. В зависимости от договорных отношений Продукция доставляется либо Исполнителем, либо Партнёром.</p>

    </div>


    <div class="page__block">

        <h2 class="page__title" id="p3">3. Права и обязанности Исполнителя</h2>

        <p>3.1. Обязанности Исполнителя:</p>

        <p>3.1.1. Принимать, обрабатывать Заказы, уведомлять Пользователя об изменениях в статусе Заказа, времени и стоимости осуществления доставки;</p>

        <p>3.1.2. Принимать денежные средства в счет оплаты Продукции, если такой способ оплаты предусмотрен на Сайте;</p>

        <p>3.2. Права Исполнителя:</p>

        <p>3.2.1. По своему собственному усмотрению изменять, дополнять или удалять любую публикуемую на Сайте информацию, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов Сайта в любое время без объяснения причин;</p>

        <p>3.2.2. Без специального уведомления Пользователя изменять и дополнять настоящую Оферту. Изменения и дополнения вступают в силу с момента их размещения (публикации) на Сайте;</p>

        <p>3.2.3. Проводить маркетинговые мероприятия путем рассылки электронных сообщений с использованием средств электросвязи в сети операторов сотовой подвижной электросвязи, мобильных приложений (Viber, WhatsAPP, Telegram и др.), Интернет-сервисов и других электронных средств, не противоречащих законодательству РБ.</p>

        <p>3.2.4. Привлекать к оказанию услуг любых третьих лиц, сохраняя при этом полную ответственность перед Пользователями за услуги, предоставленные через Сайт.</p>

    </div>


    <div class="page__block">

        <h2 class="page__title" id="p4">4. Права и обязанности Пользователя</h2>

        <p>4.1. Обязанности Пользователя:</p>

        <p>4.1.1. Использовать возможности Сайта только в законных целях, соблюдать действующее законодательство РБ, а также условия настоящей Оферты;</p>

        <p>4.1.2. Получать и оплачивать Заказы и доставку Продукции согласно тарифам Партнёра, указанным на Сайте, в оговоренном месте и в оговоренное время, и гарантировать достоверность информации о заявке, месте и времени получения Заказов. В случае изменения данной информации, Пользователь соглашается понести дополнительные транспортные затраты;</p>

        <p>4.1.3. Регулярно знакомиться с информацией, размещенной на Сайте, включая настоящую Оферту, в целях своевременного ознакомления с изменениями или дополнениями. Использование Пользователем возможностей Сайта после любых изменений или дополнений означает согласие Пользователя с такими изменениями или дополнениями;</p>

        <p>4.1.4. Пользователю при использовании Сайта запрещается загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая содержат элементы коммерческой или государственной тайны, нарушают законодательство и права третьих лиц, в том числе в сфере рекламы, авторских и смежных прав, охраны интеллектуальной собственности.</p>

        <p>4.1.5. Пользователь дает свое безоговорочное согласие Исполнителю, в том числе его аффилированным лицам, филиалам и дочерним компаниям, на обработку и хранение персональных данных Пользователя с целью направления Исполнителем Пользователю интересных и важных сведений в форме электронных уведомлений о своих услугах (работах), товарах, продуктах, рекламных акциях, кампаниях и играх, дисконтных программах, иной рекламы с использованием средств электросвязи в сети операторов сотовой подвижной электросвязи, мобильных приложений (Viber, WhatsAрр Telegram и др.), Интернет-сервисов и других электронных средств, не противоречащих законодательству РБ.</p>

        <p>4.2. Права Пользователя:</p>

        <p>4.2.1. на получение достоверной информации о Продукции, представленной на Сайте;</p>

        <p>4.2.2. на получение Продукции в оговоренном месте и в оговоренное время;</p>

        <p>4.2.3. при получении Продукции неудовлетворительного качества, при условии нарушения Партнёром других условий продажи Продукции, просить Исполнителя о блокировании на Сайте недобросовестного Партнёра.</p>


    </div>


    <div class="page__block">

        <h2 class="page__title" id="p5">5. Порядок оплаты Заказа и возврата средств</h2>

        <p>5.1. Исполнитель предоставляет Пользователю возможность осуществить оплату Продукции курьеру или онлайн с помощью платежной карты.</p>

        <p>5.2. Перечень и цены Продукции, а также условия и стоимость её доставки указаны на Сайте.</p>

        <p>5.3. В случае выбора способа оплаты Продукции с помощью платежной карты, Пользователь обязан провести оплату платежной картой согласно инструкциям сервиса <a href="https://bepaid.by/" target="_blank">bePaid</a>. </p>

        <p>5.4. При оплате онлайн Пользователь дает свое согласие на рекуррентные (повторяющиеся) платежи без дополнительного подтверждения каждой транзакции. После оформления Заказа денежные средства будут списываться автоматически со счета банковской карты.</p>

        <p>5.5. Пользователь может отменить Заказ до того момента, пока для приготовления Продукции не были использованы продукты питания. Для отмены заказа пользователь должен связаться по контактам, указанным на Сайте (на странице Партнёра).</p>

        <p>5.6. Исполнитель или Партнёр могут отменить любой Заказ, незамедлительно оповестив об этом Пользователя.</p>

        <p>5.7. При оплате услуги банковской картой на Сайте возврат осуществляется на карту, с которой была произведена оплата. Срок поступления денежных средств на карту — от 3 до 30 дней с момента осуществления возврата.</p>
        <p>5.8 Исполнитель имеет право предоставлять скидки на заказы при оплате платежной картой онлайн.</p>
    </div>

    <div class="page__block">

        <h2 class="page__title" id="p6">6. Ответственность сторон</h2>

        <p>6.1. Исполнитель предоставляет Пользователю возможность пользоваться Сайтом безо всяких гарантий относительно качества, безопасности, возможностей использования Продукции Партнёра, представленной на Сайте, постоянного и безусловного доступа к Сайту.</p>
        <p>6.2. Все претензии относительно продажи Продукции и её доставки, в том числе в части сроков такой доставки, качества, количества и других условий продажи, могут предъявляться исключительно к Партнёру.</p>
        <p>6.3. Исполнитель не несет ответственности перед Пользователем за качество поставляемой Продукции и возможное несоответствие Продукции общепринятым стандартам или ожиданиям Пользователя;</p>
        <p>6.4. Пользователь несет ответственность за собственные действия в связи с размещением комментариев на Сайте в соответствии с действующим законодательством РБ.</p>

    </div>

    <div class="page__block">

        <h2 class="page__title" id="p7">7.  Разрешение споров</h2>

        <p>7.1. Споры и разногласия, которые могут возникнуть при исполнении настоящего договора, будут разрешаться сторонами путем переговоров.</p>

        <p>7.2. В случае недостижения соглашения между сторонами по спорным вопросам, споры по настоящему договору подлежат разрешению в суде по месту нахождения Исполнителя.</p>

        <p>7.3. Применимым правом по настоящему договору, в том числе при рассмотрении споров, является право РБ.</p>

    </div>

</div>