
@section Scripts {
    <script>
        function get() {
            var fio = $('#FIO').val();
            var number = $('#Number').val();
            var filt = $('#filtType').val();
            var sort = $('#sortType').val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetUsers")",
                dataType: "html",
                data: { name: fio,
                        number: number,
                        filtType: filt,
                        sortType: sort},
                success: function (result) {
                    $("#result").html(result);
                }
            });
        }
    </script>
}
<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Поиск пользователей</h1>
        <p class="lead">Не бойтесь заводить друзей. Иначе зачем вы здесь?</p>
        
        <div class="inputs" style="display:inline-block;">
        </br>
        <input style="width:200px;" type="text" name="name" placeholder="ФИО пользователя" id="FIO" oninput="get()" />
        <input style="width:200px;" type="text" name="name" placeholder="Номер телефона" id="Number" oninput="get()" />
        </br>
        </div>

        <div class="inputs" style="display:inline-block;">
        <label for="exampleSelect1" class="form-label mt-4">Фильтрация</label>
            <select class="form-select" style="width:200px;" name="filt" value="" id="filtType" onchange="get()">
            <option value="">Нет</option>
            <option value="rus">Россия(+7)</option>
            <option value="by">Беларусь(+375)</option>
            <option value="mts">МТС(29)</option>
            <option value="life">LIFE(25)</option>
        </select>
        </div>

        <div class="inputs" style="display:inline-block;">
        <label for="exampleSelect1" class="form-label mt-4">Сортировка</label>
            <select class="form-select" style="width:200px;" name="sort" value="" id="sortType" onchange="get()">
            <option value="">Нет</option>
            <option value="up">Алфавит↑</option>
            <option value="down">Алфавит↓</option>
        </select>
        </div>

        </br>
        </br>
</div>
</div>

<div id="result" class="container">
    <h1 style="text-align:center;">Введите данные для поиска</h1>
</div>